body{
    background-image: url(BK1.png);
    background-color: #7b50ac;
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;

}


.imgs{
    scale: 0.50;
}
.img1{
 margin-top: -220px;
 margin-left: -100px;

}

.img2{
    margin-top: 50px;
    margin-left: -100px;

}

.img3{
    margin-top: 50px;
    margin-left: -100px;

}

.img4{
    margin-top: 50px;
    margin-left: -100px;

}

.img5{
    margin-top: 50px;
    margin-bottom: -200px;
    margin-left: -100px;

}
